<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
<!--    <div th:replace="~{form_errors :: formErrorsFragment}"></div>-->
    <div class="mb-3">
      <label for="username" class="form-label">사용자ID</label>
      <input type="text" th:field="*{username}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label">비밀번호</label>
      <input type="password" th:field="*{password1}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password2" class="form-label">비밀번호확인</label>
      <input type="password" th:field="*{password2}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">이메일</label>
      <input type="email" th:field="*{email}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">아이디 생성</button>
  </form>
</body>
</html>