<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{classroom/class_base}">
<div layout:fragment="classroom_content">
    <h1>QnA list</h1>
    <hr>

    <h4 th:text="${classInfo.code}"></h4>
    <h4 th:text="${classInfo.createDate}"></h4>
    <h4 th:text="${classInfo.title}"></h4>

    <table id="qna_table">
        <tr>
            <th>번호</th>
            <th>질문제목</th>
            <th>작성자</th>
            <th>작성일자</th>
        </tr>
        <tr th:each="qna, loop : ${QnAPage}">
            <td th:text="${qna.id}"></td>
            <td>
                <a th:href="@{|/classroom/qna/detail?class=${classInfo.id}&id=${qna.id}|}" th:text="${qna.title}"></a>
            </td>
            <td th:text="${qna.student.name}"></td>
            <td th:text="${#temporals.format(qna.createDate, 'yy/MM/dd HH:mm:ss')}"></td>
        </tr>
    </table>
    <a class="btn btn-secondary" th:href="@{|/classroom/qna/create?class=${classInfo.id}|}">글 작성</a>
    <a class="btn btn-primary" th:href="@{|/classroom/detail/${classInfo.id}|}">돌아가기</a>
</div>
</html>