<html layout:decorate="~{layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content">
        <h3 class="my-3 border-bottom pb-2">문제등록</h3>
        <form th:object="${questionForm}" method="POST">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                <div th:replace="~{error/form_errors :: formErrorsFragment}"></div>
            </div>

            <div class="mb-3">
                <select>
                    <option>국어</option>
                    <option>수학</option>
                    <option>영어</option>
                    <option selected>한국사</option>
                    <option>사회탐구</option>
                    <option>과학탐구</option>
                    <option>제2외국어</option>
                </select>
                <input type="text" value="문제 시간" id="questionTime"/>
            </div>

        </form>
    </div>
</html>