<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{classroom/class_base}">
<div layout:fragment="classroom_content">
    <h1>Create</h1>
    <div id="create_container">
        <form action="/classroom/create" method="post">
            <input type="text" th:value="${code}" id="create_code" name="code" readonly/>
            <h5>클래스 이름</h5>
            <input type="text" name="title"/>
            <h5>학생 이메일 등록</h5>
            <textarea name="students"></textarea>
            <input type="submit" class="btn btn-primary" value="클래스룸 생성"/>
        </form>
    </div>
</div>
</html>