<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{classroom/class_base}">
<div layout:fragment="classroom_content">

    <aside>
        <div id="c_aside_code">
            <h4>가장 시끄러운 반</h4>
        </div>
        <div id="c_aside_check">
            <h4>가장 활발한 반</h4>
        </div>
    </aside>
    <section>
        <div id="c_section_notice">
            <h4>공지사항</h4>
        </div>
        <div>
            <h3 style="margin: 10px">클래스룸</h3>
        </div>
        <div class="c_section_list" th:each="classroom, loop : ${paging}">
            <a th:href="@{|/classroom/detail/${classroom.id}|}"  th:text="${classroom.title}"></a>
        </div>

    </section>
    <th:block th:replace="~{classroom/layout/floatButton :: c_floatButton}"></th:block>
</div>
</html>